<section class="intro">
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <a href="" class="logo">
                    <div class="logo__pic">
                        <img src="img/logo-black.png" alt="logo" class="logo__img">
                    </div>
                    <div class="logo__title">tinyone</div>
                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="" class="nav__link">Features</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="nav__link">Support</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="nav__link">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="intro__slider">
        <div class="slider">
            <div class="slider__slide">
                <div class="container">
                    <div class="slider__slide-wrap">
                        <div class="slider__slide-content">
                            <h1 class="title title_slide">Inspire your inspiration</h1>
                            <h3 class="slider__subtitle">Simple to use for your app, products showcase and your
                                inspiration
                            </h3>
                            <p class="slider__desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
                                tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a
                                eros
                                volutpat
                                tempor. In quis arcu et eros porta lobortis sit
                            </p>
                            <ul class="slider__os-list">
                                <li class="slider__os-item">
                                    <img src="img/icon-apple.png" alt="apple" class="slider__os-img">
                                </li>
                                <li class="slider__os-item">
                                    <img src="img/icon-android.png" alt="android" class="slider__os-img">
                                </li>
                                <li class="slider__os-item">
                                    <img src="img/icon-windows.png" alt="windows" class="slider__os-img">
                                </li>
                            </ul>
                        </div>
                        <div class="device">
                            <div class="device__screen">
                                <a href="" class="logo logo_device">
                                    <div class="logo__pic">
                                        <img src="img/logo-yellow.png" alt="logo" class="logo__img">
                                    </div>
                                    <div class="logo__title">tinyone</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__slide">
                <div class="container">
                    <div class="slider__slide-wrap">
                        <div class="slider__slide-content">
                            <h1 class="title title_slide">Inspire your inspiration</h1>
                            <h3 class="slider__subtitle">Simple to use for your app, products showcase and your
                                inspiration
                            </h3>
                            <p class="slider__desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
                                tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a
                                eros
                                volutpat
                                tempor. In quis arcu et eros porta lobortis sit
                            </p>
                            <ul class="slider__os-list">
                                <li class="slider__os-item">
                                    <img src="img/icon-apple.png" alt="apple" class="slider__os-img">
                                </li>
                                <li class="slider__os-item">
                                    <img src="img/icon-android.png" alt="android" class="slider__os-img">
                                </li>
                                <li class="slider__os-item">
                                    <img src="img/icon-windows.png" alt="windows" class="slider__os-img">
                                </li>
                            </ul>
                        </div>
                        <div class="device">
                            <div class="device__screen">
                                <a href="" class="logo logo_device">
                                    <div class="logo__pic">
                                        <img src="img/logo-yellow.png" alt="logo" class="logo__img">
                                    </div>
                                    <div class="logo__title">tinyone</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__slide">
                <div class="container">
                    <div class="slider__slide-wrap">
                        <div class="slider__slide-content">
                            <h1 class="title title_slide">Inspire your inspiration</h1>
                            <h3 class="slider__subtitle">Simple to use for your app, products showcase and your
                                inspiration
                            </h3>
                            <p class="slider__desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
                                tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a
                                eros
                                volutpat
                                tempor. In quis arcu et eros porta lobortis sit
                            </p>
                            <ul class="slider__os-list">
                                <li class="slider__os-item">
                                    <img src="img/icon-apple.png" alt="apple" class="slider__os-img">
                                </li>
                                <li class="slider__os-item">
                                    <img src="img/icon-android.png" alt="android" class="slider__os-img">
                                </li>
                                <li class="slider__os-item">
                                    <img src="img/icon-windows.png" alt="windows" class="slider__os-img">
                                </li>
                            </ul>
                        </div>
                        <div class="device">
                            <div class="device__screen">
                                <a href="" class="logo logo_device">
                                    <div class="logo__pic">
                                        <img src="img/logo-yellow.png" alt="logo" class="logo__img">
                                    </div>
                                    <div class="logo__title">tinyone</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>